# Node.js 依赖
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log



# 环境变量文件
.env
.env.local
.env..local

# 系统文件
.DS_Store
Thumbs.db

# IDE配置（可选，看个人习惯）
.vscode
.idea
.iml

# 日志文件
logs
.log

# 编译输出
dist
build
target
.class